.desktop,
.print {
  display: none;
}

@media print {
  .mobile,
  .desktop {
    display: none;
  }

  .print {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
