body {
  margin-top: 0px;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e4d9;
  background-image: url("images/pattern.png");
}

#main-header {
  background-color: #a593c2;
}

nav {
  height: 60px;
  width: 1000px;
  margin: 0 auto 20px;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul > li {
  float: left;
}

nav > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}

#left-menu {
  float: left;
  width: 30%;
  margin-bottom: 20px;
}

#main {
  float: right;
  width: 70%;
  margin-bottom: 20px;
}

footer {
  clear: both;
  width: 100%;
}

.search-box {
  padding: 5px;
  margin: 10px 10px;
  width: 200px;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 22px;
  /* font-weight: normal; */
}

li {
  font-weight: bold;
  line-height: 1.5;
}

figcaption {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Cookie", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

h4 {
  text-align: center;
}

.promotion {
  background-color: #23cea6;
  color: white;
  width: 450px;
  text-align: center;
  border: 10px solid #a693c2;
  padding: 20px;
  margin-bottom: 50px;
}

.promotion img {
  width: 100%;
}

.promotion-purple {
  background-color: #a593c2;
  border-color: #23cea6;
}

#sidebar-heading {
  font-size: 24px;
}

#left-menu a {
  color: #199175;
}

#left-menu a:hover {
  color: #116552;
}

tr:nth-of-type(odd) {
  background-color: #b4ddd3;
}

tr:nth-of-type(even) {
  background-color: #e0d7ef;
}
