html,
body {
  height: 100%;
}

body {
  display: grid;
  /* grid: min-content auto min-content / 15em 1fr 1fr; */
  grid:
    "header header header" min-content
    "nav    main   aside" auto
    "footer footer footer" min-content /
    15em 1fr 1fr;
  /* grid-template-areas:
    "header header header"
    "nav    main   aside"
    "footer footer footer"; */
  /* grid-template-rows: min-content auto min-content;
  grid-template-columns: 15em 1fr 1fr; */
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
