* {
  font-family: Helvetica, "Helvetica-Neue", Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: #e6e4d9;
  background-image: url(../images/pattern.png);
}

nav,
main {
  background: white;
  padding: 1em;
  border: 2px solid #23cfa7;
  border-bottom: 5px solid #23cfa7;
  border-radius: 0.5em;
}

header {
  background: #23cfa7;
  height: 80px;
  padding: auto;
}

aside img {
  max-width: 100%;
  padding: 0 1em;
}

aside p {
  text-align: center;
}

nav ul {
  list-style: none;
  line-height: 1.5em;
  padding: 0;
}

main h1 {
  font-family: "Patua One", cursive;
  margin-top: 0.25em;
}

main img {
  max-width: 100%;
}

.cta {
  display: block;
  color: white;
  margin: 1.5em auto;
  font-family: "Patua One", cursive;
  font-weight: bold;
  width: 15em;
  border-radius: 2em;
  border-bottom: 4px solid black;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  padding: 0.75em;
  background: #23cfa7;
}

body > img {
  object-fit: cover;
  max-width: 100%;
  height: 10em;
}

footer {
  text-align: center;
}
