body {
  display: grid;
  grid:
    "header" 5em
    "nav   " 5em
    "main  " 20em
    "aside " 10em
    "footer" 5em /
    1fr;
}

@media screen and (min-width: 600px) {
  body {
    grid:
      "header header" 5em
      "nav    main  " 20em
      "aside  aside " 10em
      "footer footer" 5em /
      1fr 2fr;
  }
}

@media screen and (min-width: 800px) {
  body {
    grid:
      "header header header" 5em
      "nav    main   aside " 20em
      "footer footer footer" 5em /
      1fr 2fr 1fr;
  }
}

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
