/*Main Area*/
body {
  margin-top: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e4d9;
  background-image: url("../images/pattern.png");
}

#mainheader {
  background-color: #a593c2;
}

/*Top Menu*/

nav {
  height: 60px;
  width: 80%;
  margin: 0 auto 20px;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li:nth-child(1) {
  flex-grow: 2;
}

/* nav > ul > li {
  float: left;
} */

nav > ul > li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}

/*Side Menu*/

.leftMenu ul {
  padding-inline-start: 0;
  margin-right: 0;
}

.leftMenu ul > a > li {
  background-color: #cf4522;
  color: #fff;
  list-style: none;
  padding: 14px 45px;
  display: block;
  cursor: pointer;
  margin-bottom: 2px;
}

.leftMenu ul > a > li:hover {
  background-color: #b43110;
}

.leftMenu ul > a {
  text-decoration: none;
  color: #fff;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Main Content*/

.mainContent {
  /* margin-left: auto;
  margin-right: auto; */
  /* background-color: blue;
  height: 600px;
  align-content: space-between; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* 
.mainContent ul > a > li:hover {
  background-color: #b43110;
}

.mainContent ul > a {
  text-decoration: none;
  color: #fff;
} 

.mainContent ul {
  padding-inline-start: 0;
  margin-right: 0;
  padding: 0.7rem;
}

.mainContent ul > a > li {
  background-color: #cf4522;
  color: #fff;
  list-style: none;
  padding: 14px 25px;
  display: block;
  cursor: pointer;
  margin-bottom: 2px;
}
 */

.pageTitle {
  font-size: 35px;
  color: #a593c2;
}

.centerImage {
  align-self: flex-end;
}

/*Pie Rows*/

.main {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.pieRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding-right: 0.5rem;
}

.pieRow h5,
.pieRow p {
  margin: 0;
}

.pieRow > div {
  flex-grow: 2;
  padding-left: 0.5rem;
}

.pieRow > small {
  flex-shrink: 3;
}

small {
  padding: 0.3rem;
}

.pieGallery {
  display: flex;
  flex-direction: row;
  flex-basis: 60%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pieCard {
  display: flex;
  /* flex-direction: column wrap; */
  margin: 0.4rem;
  align-items: center;
  align-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  flex-grow: 2;
}

.pieCard > h5,
.pieCard > p {
  margin: 0.2rem 0;
}

.pieCard > img {
  align-self: center;
}

#promos {
  align-self: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

#promos > h3 {
  margin: 5px 0;
}

.cardRow {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .cardRow > h5,
.cardRow > p {
  margin: 0.2rem 0;
} */

/*About*/

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

footer > p,
footer > address {
  margin: 0.5rem 0;
}

@media screen and (max-width: 600px) {
  .leftMenu {
    order: 1;
  }
  .main {
    flex-basis: 90% !important;
  }
  .pieGallery {
    flex-basis: 90% !important;
  }
}

/*Test*/

.box {
  width: 200px;
  height: 100px;
  background-color: red;
  margin: 5px 10px;
}

/* .box:nth-child(1) {
  order: 15;
} */
