/* ****** grid rules ****** */
.large-3 {
  // width: 25%;
  flex-basis: 25%;
}

/* ****** nav rules ****** */
nav ul {
  margin-left: 2vw;
}

nav li {
  flex-basis: auto;
}

nav a {
  padding: 0.7rem 1rem;
}
