html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* ****** grid rules ****** */
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  // float: left;
  padding: 0 2vw;
  margin: 0 0 0.75rem 0;
}

.small-12 {
  // width: 100%;
  flex-basis: 100%;
}

.limited {
  max-width: 1140px;
  margin: auto;
}

.small-6 {
  width: 50%;
}

/* ****** header rules ****** */
header {
  background-color: $primaryColor;
}

header img {
  float: left;
  height: 85px;
  padding-right: 10px;
}

header h1,
header h2 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

header h1 {
  padding: 0.5rem 0 0 0;
  font-size: 1.95rem;
}

header h2 {
  padding: 0.2rem 0 0 0;
  font-size: 1.05rem;
}

/* ****** nav rules ****** */
button#hamburgerBtn {
  background: none;
  border: none;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0 30px 0 2vw;
}

nav {
  background-color: $secondaryColor;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 0.8rem 0;
  color: #eee;
  text-align: center;
  text-decoration: none;
}

nav li.active {
  background-color: rgba(0, 0, 0, 0.5);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul.open {
  display: block;
}

nav ul {
  display: none;
}

/* ****** main rules ****** */
main img {
  width: 100%;
  height: auto;
}

main h1,
main h3 {
  color: $primaryColor;
  font-style: italic;
  margin: 0.5rem 0 0.1rem 0;
}

main {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
    margin: 0 0 0.3rem 0;
  }
} // end of main

.labeled {
  position: relative;
}

.labeled h6,
.labeled p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  width: 100%;
  padding: 0.3rem 1rem;
}
.labeled h6 {
  top: 0;
  font-size: 2rem;
  font-weight: 300;
}
.labeled p {
  bottom: 0;
  font-weight: 700;
  color: #b00;
}

/* ****** footer rules ****** */
footer {
  background-color: $primaryColor;
  font-size: 1.2rem;
}

footer h2 {
  font-style: italic;
  text-transform: uppercase;
  margin: 1rem 0 0.3rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  padding-bottom: 0.3rem;
}

/* ****** making the element visible ****** */
/* This class should not exist after changing everything to flexbox */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
